{% extends "base.html" %}

{% block content %}

<h1> About </h1>

<h2> How to use </h2>

This project uses basic natural language processing to generate semi-plausible text. Copy and paste any input text, and the algorithm will use a Markov model to generate psuedo-random output based on the input.

Below is the pseudo-random output for Nick Bostrom's <i> Superintelligence</i>:

<img src = "bostrom.png" alt="output for Bostrom's Superintelligence">

<h2> How it works </h2>

The algorithm divides the input text into k-grams, and for each k-gram, forms a frequency table for the following character.

When generating text, the algorithm looks at the current k-gram and selects a random character based off the weighted distribution of the frequency table.

The algorithm incorporates the character into the next k-gram and repeats the process.

Called a Markov chain, the algorithm produces long strings of semi-believable text.

Find the GitHub for the code <a href = "https://github.com/soniajoseph/MarkovLyric">here</a>.

<h2> Project Design </h2>

I coded the Markov chain in Python and hosted it on Heroku with the Flask micro web framework. I wrote a CSS/HTML/JavaScript GUI to mimic the effect of the Terminal when originally testing the algorithm. For the animation I used the <a href = "https://github.com/mattboldt/typed.js/">Typed.js library</a>.

Because the output was especially amusing for song lyrics, I connected another version to the [RapGenius API](https://genius.com/developers), which you can find <a href="https://generatelyrics.herokuapp.com/">here</a>.

For more projects, go <a href="soniajoseph.github.io/projects">here</a>.

{% endblock %}